<div id="<%= dom_id category %>">
  <tr>
    <td class="w-2/5">
      <%= link_to category, class: "rounded-lg bg-gray-100 inline-block font-medium" do %>
        <h2 class="font-bold text-2xl"><%= category.name %></h2>
      <% end %>
    </td>
    <td class="w-2/5 text-right <%= category.items.sum(:amount) > category.budget ? 'text-red-500' : 'text-green-500' %>">
      Total Spending <%= number_to_currency(category.items.sum(:amount), unit: '¥', precision: 0) %> / <%= number_to_currency(category.budget, unit: '¥', precision: 0) %>
    </td>
    <td class="w-1/5 text-right">
      <div class="flex justify-end items-center">
        <%= link_to "Edit", edit_category_path(category), class: "rounded-lg py-3 px-5 bg-yellow-500 text-white block font-medium" %>
        <%#= link_to "Delete", category, method: :delete, data: { confirm: "Are you sure?" }, class: "rounded-lg py-3 px-5 bg-red-500 text-white block font-medium ml-2" %>
      </div>
    </td>
  </tr>
</div>
