<div class="mx-auto w-full flex p-4">
  <div class="w-full">
    <% if notice.present? %>
      < class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between items-center w-full">
      <span class="font-bold text-4xl"><%= @category.name %></span>
      <div>
        <%= link_to "Edit this category", edit_category_path(@category), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
    </div>

    <p class="<%= @category.items.sum(:amount) > @category.budget ? 'text-red-500' : 'text-green-500' %>">
      Total Spending <%= number_to_currency(@category.items.sum(:amount), unit: '¥', precision: 0) %> / <%= number_to_currency(@category.budget, unit: '¥', precision: 0) %>
    </p>
    <%= pie_chart @pie_chart_data, title: "This month's spending" %>
    <%= bar_chart @bar_chart_data, stacked: true, library: {
    scales: {
      x: { stacked: true },
      y: {
        stacked: true
      }
    }
  } %>
    <h2>Purchases</h2>
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="px-4 py-2">Date</th>
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @category.items.each do |item| %>
          <tr>
            <td class="border px-4 py-2"><%= item.receipt.date.strftime("%B %d, %Y") %></td>
            <td class="border px-4 py-2"><%= item.name %></td>
            <td class="border px-4 py-2"><%= number_to_currency(item.amount, unit: '¥', precision: 0) %></td>
          </tr>
        <% end %>
      </tbody>
    </div>
  </div>
