<%= simple_form_for receipt do |f| %>
  <% if receipt.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
        <% receipt.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :photo, as: :file %>
  <%= f.input :store %>
  <%= f.input :date %>
  <div class="bg-gray-100" data-controller="nested-field">
    <h2 class="font-medium text-l" >Items</h2>
    <div class='p-2 flex flex-col gap-2' data-nested-field-target="fieldsContainer">
      <%= f.simple_fields_for :items do |item| %>
        <%= render 'item_fields', i: item %>
      <% end %>
    </div>
    <div class="rounded-lg m-1 py-1 px-3 bg-gray-600 text-white inline-block font-medium cursor-pointer" data-action="click->nested-field#add">
      Add item
    </div>
  </div>

  <div class="mt-3">
    <%= f.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
